@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@800&family=Open+Sans:wght@300;500&display=swap');

body {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
    gap: 0;
    background-color: #FAEBE0;
}

.left-container {
    min-width: 25%;
    min-height: 100%;
}

.right-container {
    min-width: 75%;
    min-height: 100%;

    display: flex;
    flex-flow: column nowrap;
}
