@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@800&family=Open+Sans:wght@300&display=swap');

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #FAEBE0;
}

form {
    z-index: 1;
    margin: auto;
    background-color: #B5CDA3;
    border-radius: 10px;
    min-width: 40%;
}

h1 {
    font-family: 'Epilogue', sans-serif;
    font-weight: bold;
    font-size: 60px;
    padding-top: 60px;
    margin: auto;
    color: #B5CDA3;
}

p {
    max-width: 60%;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    text-align: center;
    color: #5E454B;
    margin-top: 0;
    padding-bottom: 20px;
}

label {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    text-align: center;
    padding: 6px;
    color: #5E454B;
}

input[type=text], input[type=password] {
    width: 100%;
    align-items: center;
    margin: 8px 0;
    padding: 16px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    text-align: center;
}

button {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    width: 100%;
    background-color: #C1AC95;
    color: white;
    padding: 16px;
    margin: 16px 0;
    border: none;
    cursor: pointer;
    border-radius: 6px;
}

button:hover {
    opacity: 0.8;
}

.container {
    align-items: center;
    justify-content: center;
    padding: 24px;
}

.message {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    text-align: center;
    padding: 6px;
    color: #5E454B;
}