<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Football central</title>
    <link th:href="@{/css/index.css}" rel="stylesheet" />
</head>
<body>

    <h1>Football central</h1>
    <p> Welcome to football central, the reference site for match reservations in Pisa. Before proceeding, please login.</p>
    <form action="#" th:action="@{/home}" th:method="get">
        <div class="container">
            <label for="uname">Username</label>
            <input type="text" id="uname">

            <label for="psw">Password</label>
            <input type="password" id="psw">

            <button type="submit">Login</button>
        </div>
    </form>
</body>
</html>