h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    color: #B5CDA3;
    align-self: center;
}

form {
    z-index: 1;
    padding: 2% 20%;
    margin-top: 40px;
}

label {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    text-align: center;
    padding: 6px;
    color: #C1AC95;
}

input[type=text] {
    width: 100%;
    align-items: center;
    margin: 8px 0;
    padding: 16px;
    display: inline-block;
    border: none;
    border-bottom: 3px solid #C1AC95;
    background-color: #FAEBE0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    text-align: center;
}

input[type=text]:focus {
    outline: none;
    border-bottom: 3px solid #B5CDA3;
}

button {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background-color: #B5CDA3;
    color: white;
    padding: 16px;
    margin: 16px 0;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    float: right;
}

button:hover {
    opacity: 0.8;
}