h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    font-weight: 500;
    color: #5E454B;
    margin-left: 5%;
    margin-bottom: 0;
}

hr {
    width: 100%;
    border: 1px solid #C1AC95;
}

p {
    margin-left: 5%;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: #5E454B;
}

form {
    margin-top: 5%;
    margin-left: 5%;
    max-width: 60%;
}

label {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    padding: 6px;
    color: #5E454B;
}

input[type=text] {
    width: 100%;
    padding: 16px;
    display: inline-block;
    border: none;
    border-bottom: 1px solid #5E454B;
    background-color: #FAEBE0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

input[type=text]:focus {
    outline: none;
    border-bottom: 1px solid #B5CDA3;
}

button {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background-color: #B5CDA3;
    color: white;
    padding: 16px;
    margin: 16px 0;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    float: right;
}

button:hover {
    opacity: 0.8;
}