h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    font-weight: 500;
    color: #5E454B;
    margin-left: 5%;
    margin-bottom: 0;
}

hr {
    width: 100%;
    border: 1px solid #C1AC95;
}

table {
    margin-left: 5%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #5E454B;
}

th, td {
    text-align: left;
}

button {
    border: none;
    border-radius: 3px;
    padding: 4px;
    color: white;
    background-color: #B5CDA3;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
