<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="main">
    <title>Main</title>
</head>
<body>

        <h1>Hello, <span sec:authentication="name">Bob</span></h1>
        <hr>

        <div class="alert alert-success" role="alert" th:if="${message}" th:utext="${message}"></div>

        <div class="card rounded-3 mb-3 widget">
            <div class="card-header">
                <h5 class="card-title mb-0">My games</h5>
            </div>
            <div class="card-body d-inline-flex flex-column align-items-start">
                <table class="table border-bottom-color align-middle">
                    <tr>
                        <th>Pitch</th>
                        <th>Day</th>
                        <th>Time</th>
                        <th>Player manager</th>
                        <th>Players</th>
                        <th></th>
                    </tr>
                    <tr th:if="${game.playerManager} == ${#authentication.name}" th:each="game: ${games}">
                        <form th:action="@{/home/games/delete(id=${game.gameId})}" th:method="post">
                            <td th:text="${game.pitchName}"></td>
                            <td th:text="${#dates.format(game.gameDay, 'dd-MM-yyyy')}"></td>
                            <td th:text="${game.time}"></td>
                            <td><span class="badge rounded-pill bg-info text-dark">Owner</span></td>
                            <td th:text="${#lists.size(game.players)} + ' / 10'"></td>
                            <td class="text-end">
                                <button class="btn btn-outline-danger" type="submit"><i class="bi bi-trash"></i></button>
                            </td>
                        </form>
                    </tr>
                    <tr th:unless="${game.playerManager} == ${#authentication.name}" th:each="game: ${games}">
                        <form th:action="@{/home/games/unbook(id=${game.gameId})}" th:method="post">
                            <td th:text="${game.pitchName}"></td>
                            <td th:text="${#dates.format(game.gameDay, 'dd-MM-yyyy')}"></td>
                            <td th:text="${game.time}"></td>
                            <td th:text="${game.playerManager}"></td>
                            <td th:text="${#lists.size(game.players)} + ' / 10'"></td>
                            <td class="text-end"><button class="btn btn-outline-danger" type="submit"><i class="bi bi-calendar-x"></i></button></td>
                        </form>
                    </tr>
                </table>
            </div>
        </div>

        <div class="card rounded-3 widget">
            <div class="card-header">
                <h5 class="card-title mb-0">Notifications</h5>
            </div>
            <div class="card-body">
                <table class="table border-bottom-color align-middle">
                    <tr th:each="elem: ${notices}">
                        <td  th:utext="${elem.noticeMessage}"></td>
                        <td class="text-end">
                            <form th:action="@{/home/notice/delete(id=${elem.noticeId})}" th:method="post">
                                <button class="btn btn-outline-danger" type="submit"><i class="bi bi-x-lg"></i></button>
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
</body>
</html>