<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/css/fragments/navbar.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <title>Navigation Bar</title>
</head>
<body>
    <nav class="navbar">
        <p class="logo">Football central</p>
        <!-- <p class="user"><i class="fa fa-user-circle"></i> Mario</p> -->
        <a th:classappend="${#httpServletRequest.getRequestURI() == '/home/games' ? 'active':''}"
           th:href="@{/home/games}"><i class="fa fa-soccer-ball-o"></i> Home</a>
        <a th:classappend="${#httpServletRequest.getRequestURI() == '/home/match/new' ? 'active':''}"
           th:href="@{/home/match/new}"><i class="fa fa-calendar-plus-o"></i> New match</a>
        <a th:classappend="${#httpServletRequest.getRequestURI() == '/home/games/search' ? 'active':''}"
           th:href="@{/home/games/search}"><i class="fa fa-fw fa-search"></i> Search matches</a>
        <a th:classappend="${#httpServletRequest.getRequestURI() == '/home/dashboards' ? 'active':''}"
           href="#"><i class="fa fa-envelope"></i> Dashboards</a>
        <a th:href="@{/}"><i class="fa fa-times"></i> Logout</a>
    </nav>
</body>
</html>