<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/css/fragments/newmatch.css}" rel="stylesheet" />
    <title>New Match</title>
</head>
<body>
    <h1>Create a new match</h1>
    <hr>
    <form th:unless="${message}" th:action="@{/home/match/new/add}" th:object="${match}" method="post">
        <!--<label for="manager">Player manager</label>
        <input type="text" id="manager" th:field="*{playerManager}" /> -->
        <label for="pitch">Pitch name</label>
        <input type="text" id="pitch" th:field="*{pitchName}" />
        <label for="time">Time</label>
        <input type="text" id="time" th:field="*{time}" />
        <button type="submit">Save</button>
    </form>

    <h1 th:if="${message}" th:utext="${message}"></h1>
</body>
</html>