<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/css/fragments/search.css}" rel="stylesheet" />
    <title>Main</title>
</head>
<body>
    <h1>Available matches</h1>
    <hr>

    <table th:unless="${message}">
        <tr>
            <th>Pitch</th>
            <th>Time</th>
            <th>Player manager</th>
            <th>Players</th>
            <th></th>
        </tr>
        <tr th:unless="${game.playerManager} == 'mario'" th:each="game: ${games}">
            <form th:action="@{/home/games/book(book=${game.gameId})}" th:method="post">
                <td th:text="${game.pitchName}"></td>
                <td th:text="${game.time}"></td>
                <td th:text="${game.playerManager}"></td>
                <td th:text="${#lists.size(game.players)} + ' / 10'"></td>
                <td>
                    <button type="submit"><i class="fa fa-calendar-check-o"></i></button>
                </td>
            </form>
        </tr>
    </table>

    <p th:if="${message}" th:text="${message}"></p>
</body>
</html>